h2 {
  margin-top: 0;
  margin-bottom: 0.5em;
  color: rgb(0, 33, 64);
  font-weight: 800;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  }
body {
  padding: 0;
  margin: 0;
}

#clearButtonpopup{
float: right;
color: rgb(129, 29, 29)
}
.logo {
  height: 60px;
  margin: 3px;
  background-image: url(images/PENlogo.png);
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}
#botao_voltar {
  margin: 20px;
  position: relative;
  
}

#additembutton {
  line-height: 1.5715;
  position: relative;
  display: block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;
  height: 32px;
  padding: 4px 15px;
  font-size: 14px;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.85);
  border-color: #d9d9d9;
  background: #fff;
  overflow:hidden;
  float: right;
  margin: 20px;
}

